<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>AdsGency Demo Project</h1>
        <h1>Login Page</h1>
        <a href="/login" class="twitter-button">
            <img src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png" alt="Twitter Logo">
            <span>Login with Twitter</span>
        </a>
        <!-- <a href="/logout" class="logout-button">Logout</a> -->
    </div>
</body>
</html>
